<div class="row">
    <div class="col-md-6">
    <h3>Day 1 - February 13th</h3>
    <table class="table table-striped">
      <tr><td>Lesson 1</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit.html">Running and Quitting</a></td></tr>
      <tr><td>Lesson 2</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Variables and Assignment</a></td></tr>
      <tr><td>Lesson 3</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion.html">Data Types and Type Conversion</a></td></tr>
      <tr><td>Lesson 4</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in.html">Built-in Functions and Help</a></td></tr>
      <tr><td>Lesson 6</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/06-libraries.html">Libraries</a></td></tr>
    </table>
<h3>Day 2 - February 20th</h3>
    <table class="table table-striped">
      <tr> <td>Lesson 7</td> <td><a href="https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular.html">Reading Tabular Data into DataFrames</a></td></tr>
 	    <tr> <td>Lesson 8</td> <td><a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html">Pandas DataFrames</a></td></tr>
      <tr><td>Lesson 9</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/09-plotting.html">Plotting</a></td></tr>
      <tr><td>Lesson 11</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/11-lists.html">Lists</a></td></tr>
      <tr><td>Lesson 12</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/12-for-loops.html">For Loops</a></td></tr>
      </table>
<h3>Day 3 - February 27th</h3>
    <table class="table table-striped">
      <tr><td>Lesson 13</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/13-conditionals.html">Conditionals</a></td></tr>
      <tr><td>Lesson 14</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets.html">Looping Over Data Sets</a></td></tr>
      <tr><td>Lesson 16</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/16-writing-functions.html">Writing Functions</a></td></tr>
      <tr><td>Lesson 17</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/17-scope.html">Variable Scope</a></td></tr>
      <tr><td>Lesson 18</td> <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/18-style.html">Programming Style</a></td></tr>
	</table>
  </div> 
</div>
